@font-face {
    font-family: 'circular-std-medium';
    src: url('./font/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-book';
    src: url('./font/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.project .project-title {
    font-family: circular-std-medium, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 20px;
}

.project .project-category {
    font-family: circular-std-book, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 5px;
}

.project a {
    text-decoration: none;
}

.project a:visited {
    color: black;
}

.project {
    transition: 0.5s ease-in-out;
}

.project:hover {
    transform: scale(1.02);
    cursor: pointer;
}

